$font-stack: Verdana, Arial, sans-serif;
$primary-color: #4abf8a;
$main-width: 60vw;

/* max-height - the only parameter in this file that needs to be edited.
 * Change it to suit your needs. The rest is recommended to leave as is.
 */
.clusterize-scroll {
  max-height: 80 vh;
  overflow: auto;
}

/**
 * Avoid vertical margins for extra tags
 * Necessary for correct calculations when rows have nonzero vertical margins
 */
.clusterize-extra-row {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/* By default extra tag .clusterize-keep-parity added to keep parity of rows.
 * Useful when used :nth-child(even/odd)
 */
.clusterize-extra-row.clusterize-keep-parity {
  display: none;
}

/* During initialization clusterize adds tabindex to force the browser to keep focus
 * on the scrolling list, see issue #11
 * Outline removes default browser's borders for focused elements.
 */
.clusterize-content {
  outline: 0;
  counter-reset: clusterize-counter;

  max-width: $main-width;
  margin: 70px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  .week {
    height: 100%;
    display: flex;

    .cell {
      height: 40px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;
      color: $primary-color;
      padding: 5px;
      //sbackground-color: transparentize(white, 0.3);
      box-shadow: -1px -1px $primary-color, inset -1px -1px 0 0 $primary-color;
      z-index: 0;
    }

    .odd {
      background: $primary-color;
      color: #fff;
    }

    &.header {
      z-index: 0;
      position: fixed;
      top: 20px;
      width: $main-width;
    }
  }
}

/* Centering message that appears when no data provided
 */
.clusterize-no-data td {
  text-align: center;
}
