$font-stack: Verdana, Arial, sans-serif;
$primary-color: #4abf8a;

.calendar {
  max-width: 400px;
  margin: 70px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  .week {
    height: 100%;
    display: flex;

    .cell {
      height: 40px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;
      color: $primary-color;
      padding: 5px;
      //sbackground-color: transparentize(white, 0.3);
      box-shadow: -1px -1px $primary-color, inset -1px -1px 0 0 $primary-color;
    }

    &.header {
      position: fixed;
      top: 20px;
      width: 400px;
    }
  }
}
